* , *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}

img { max-width: 100%; }
.destaque { 
    background-color: yellow;
    color: red; font-weight: bold;
    border: solid 1px;
    padding: 2px;
}

.modo-noturno {
    background-color: black;
    color: white;
}